.metadata/
RemoteSystemsTempFiles/
impala/impala-build/bin/
impala/impala-core/bin/
impala/impala-core/testbin/
impala/impala-launcher/bin/
impala/impala-launcher/testbin/
impala/impala-sandbox/bin/
impala/impala-sandbox/testbin/
impala/impala-web/bin/
impala/impala-web/testbin/
webframeworks-sample/webframeworks-host/bin/
webframeworks-sample/webframeworks-main/bin/
webframeworks-sample/webframeworks-service/bin/
example-sample/example-dao/bin/
example-sample/example-extension/.gitignore
example-sample/example-hibernate/bin/
example-sample/example-host/bin/
example-sample/example-main/bin/
example-sample/example-optional/bin/
example-sample/example-service/bin/
example-sample/example-servlet1/bin/
example-sample/example-servlet2/bin/
example-sample/example-servlet3/bin/
example-sample/example-servlet4/bin/
example-sample/example-tests/bin/
example-sample/example-web/bin/
impala/impala-command/bin/
impala/impala-command/testbin/
impala/impala-interactive/bin/
impala/impala-interactive/testbin/
impala/impala-jmx/bin/
impala/impala-jmx/testbin/
impala/impala-sample-dynamic/output/
impala/sample-module1/bin/
impala/sample-module2/bin/
impala/sample-module3/bin/
impala/sample-module4/bin/
impala/sample-module5/bin/
impala/sample-module6/bin/
impala/tests/bin/
petclinic-sample/petclinic-hibernate/bin/
petclinic-sample/petclinic-host/bin/
petclinic-sample/petclinic-main/bin/
petclinic-sample/petclinic-service/bin/
petclinic-sample/petclinic-tests/bin/
petclinic-sample/petclinic-web/bin/
springfaces-sample/springfaces-dataaccess/bin/
springfaces-sample/springfaces-host/bin/
springfaces-sample/springfaces-main/bin/
springfaces-sample/springfaces-service/bin/
springfaces-sample/springfaces-test/bin/
springfaces-sample/springfaces-web/bin/
urlmapping-sample/urlmapping-host/bin/
urlmapping-sample/urlmapping-root/bin/
urlmapping-sample/urlmapping-test/bin/
urlmapping-sample/urlmapping-web/bin/
urlmapping-sample/urlmapping-webadmin/bin/
urlmapping-sample/urlmapping-webremote/bin/
urlmapping-sample/urlmapping-webview/bin/
webframeworks-sample/webframeworks-jsf/bin/
webframeworks-sample/webframeworks-jsp/bin/
webframeworks-sample/webframeworks-struts/bin/
webframeworks-sample/webframeworks-struts2/bin/
webframeworks-sample/webframeworks-tapestry5/bin/
webframeworks-sample/webframeworks-test/bin/
webframeworks-sample/webframeworks-web/bin/
webframeworks-sample/webframeworks-wicket/bin/
